In [1]:
import yfinance as yf

In [2]:
tickers = yf.Tickers('msft aapl goog')
msft = tickers.tickers.MSFT

In [3]:
tickers.tickers.GOOG.actions

            Dividends  Stock Splits
Date
2014-03-27        0.0         2.002
2015-04-27        0.0         1.000

In [4]:
msft_hist = msft.history(period="1y")
msft_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-06,155.433405,157.432234,154.869373,157.362961,20813700,0.0,0
2020-01-07,157.649943,157.996265,155.670908,155.928177,21634100,0.0,0
2020-01-08,157.263991,159.114399,156.294268,158.411835,27746500,0.0,0
2020-01-09,160.143490,160.519511,159.341983,160.390869,21385000,0.0,0
2020-01-10,161.113224,161.509025,159.490401,159.648727,20725900,0.0,0

In [5]:
apple = tickers.tickers.AAPL
apple.dividends

Date
1987-05-11    0.00054
1987-08-10    0.00054
1987-11-17    0.00071
1988-02-12    0.00071
1988-05-16    0.00071
               ...
2019-11-07    0.19250
2020-02-07    0.19250
2020-05-08    0.20500
2020-08-07    0.20500
2020-11-06    0.20500
Name: Dividends, Length: 69, dtype: float64

In [6]:
apple.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  59.66%       % of Shares Held by Institutions
2  59.70%        % of Float Held by Institutions
3    4452  Number of Institutions Holding Shares